
<!DOCTYPE HTML>
<html>

  <head>
      <!-- Latest compiled and minified CSS -->
      <title>Kirr.co | {% block title %}Shorten that url{% endblock title %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://getbootstrap.com/docs/3.3/examples/cover/cover.css" rel="stylesheet">
      
      <!-- <style>
      body {
        background-color: #047986;

      }

      .btn-link {
        color: #032f55;
        text-shadow: none;
      }
      .btn-link:hover {
        color: #000000;
      }
      </style> -->
    
  </head>

    <body>
          <div class="site-wrapper">

            <div class="site-wrapper-inner">

              <div class="cover-container">
                <div class="masthead clearfix">
                  <div class="inner">
                    <h3 class="masthead-brand">URL Shortener</h3>
                    <nav>
                      <ul class="nav masthead-nav">
                        <li class=""><a href="/">Home</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>

                <div class="inner cover">

                  {% block content %}

                  {% endblock content %}
                </div>

              </div>

            </div>

          </div>


      <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>